.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #EFEFEA;
  margin-top: 5%;
  font-family: Manjari;
  font-size: 85pt;
}

.App-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #EFEFEA;
  font-family: Manjari;
  font-size: 30pt;
  margin-top: 5%;
}

.App-sign {
  color: #EFEFEA;
  font-family: Manjari;
  font-size: 20pt;
  background: rgb(217, 217, 217, 0.3);
  margin-top: 7%;
  height: 145px;
  width: 353px;
  text-align: center;
  position: absolute;
  left: 38%;
  border: 0.5px solid #000000;
  border-radius: 10px;
}

.App-sign-in {
  color: #000000;
  font-family: Manjari;
  font-size: 20pt;
  background: #FFE500;
  text-align: center;
  position: absolute;
  border: 0.5px solid #000000;
  border-radius: 10px;
  margin-left: -120px;
  height: 40px;
}

.App-sign-up {
  color: #000000;
  font-family: Manjari;
  font-size: 20pt;
  background: #FFE500;
  text-align: center;
  position: absolute;
  border: 0.5px solid #000000;
  border-radius: 10px;
  margin-left: 20px;
  height: 40px;
}

.App-logo {
  /* margin-top: 2%; */
  height: 10%;
  width: 10%;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: 'Manjari';
  src: local('Manjari'), url(./../fonts/Manjari-Regular.ttf) format('truetype');
}
