.not-main-header {
  text-align: left;
  font-size: 40pt;
  font-family: Manjari;
  border: 0px;
  margin-top: 5%;
}

.liked-songs-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2%;
  width: 95%;
  height: 100%;
}