.avatar-text {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 25px;

    width: 100%;
    height: 100%;
}

.avatar-circle {
    border-radius: 50%;
    background: rgb(217, 217, 217, 1);
    border: 0.5px solid #0F1C3F;
    display: flex;
    align-items: center;
    width: 5%;
    height: 100%;
    
    // flex: 0.6 1 0;
}

.avatar-circle:before {
    content: "";
    display: block;
    padding-top: 100%;
}